@import "tailwindcss";

:root {
  --background: #f3f4f6;   /* light gray */
  --foreground: #111827;   /* dark text */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}